@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

*{
    font-family: 'Open Sans', sans-serif;
    color: #243847;
}

.wrapper{
    border-top: solid 15px #37B674;
    display: block;
    margin: 0 auto;
    padding: 40px;
    width: 40%;
    padding-top: 20px;

}

.icon, h1{
    display: inline;
    vertical-align: middle;
}

.icon{
    height: 5vh;
    padding-right: 10px;
    vertical-align: -webkit-baseline-middle;
    fill: #37B674;
}

h1{
    font-weight: 600;
}

.pickup-details{
    margin-bottom: 20px; 
}

h2{
    font-weight: 600;
    margin-bottom: 0px;
    font-size: 1.1rem; 
}

label{
    display: inline;
}
.start-date{
    display: inline;
}

.start{
    margin-bottom: 5px;
}
p{
    font-weight: 400;
    margin: 0px ;
    margin-bottom: 5px;
}

.donating-recieving{
    color: #828282;
    margin: 0;
    font-size: .9rem;
}

.buttons{
    margin: 0 auto;
    align-content: center;
    text-align: center;
    margin-top: 30px;
}

button{
    width: 10vw;
    height: 3vw;
    border-radius: 3px;
    margin: 20px;
    font-weight: 600;
    font-size: .9rem;
}

.claim{
    background-color: #5DC0F9; 
    border: none;
    color: white;
}

.reject{
    background: transparent;
    border: solid 2px #E0E0E0;
    color: #BDBDBD;
}

button:hover{
    cursor: pointer;
}

.map{
    display: inline-block;
    height: 190px;
    width: 320px;
}

Map{
    display: inline-block;
    height: 190px;
    widows: 320px; 
}