* {
  font-family: "Open Sans", sans-serif;
  color: #243847;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.popup-wrapper {
  width: 35vw;
  margin: auto 80%;
  padding: 40px;
  padding-top: 20px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.12);
}

.details-scroll{
  height: 27vw;
  overflow-y: scroll;
}

#disclaimer-icon{
  position: absolute;
  width: 4vw;
}
.notification-flex{
  display: grid;
  position: fixed;
  top: 90px;
  right: 10px;
}

.recurring-canceled{
  border-top: solid 20px #8D97B0;
  background-color: white;
}

.popup-flex{
  display: grid;
  top: 90px;
  right: 10px;
  position: fixed;
  z-index: 999;
}

.modal-flex{
  position: absolute;
}

.popup-buttons{
  font-weight: 600;
  padding-top: 15px;
  bottom: 0;
  margin-bottom: 30px;
  padding-left: 30px;
  margin: auto;
  position: sticky;
  width: 100%;
}

.popup-buttons .claim {
  width: 40%;
  font-size: 1.2vw;
  background: #5DC0F9;
  border: 3px solid #5DC0F9;
  box-sizing: border-box;
  border-radius: 3px;
  margin-right: 20px;
}

.popup-buttons .cancel {
  width: 40%;
  font-size: 1.2vw;
  border: 3px solid #8d97b0;
  box-sizing: border-box;
  border-radius: 3px;
  margin-right: 20px;
  color: #8d97b0;
}

.popup-buttons .okay-green {
  width: 40%;
  font-size: 1.4vw;
  border: 3px solid #37b674;
  box-sizing: border-box;
  border-radius: 3px;
  margin-right: 20px;
  color: #37b674;
}

button{
  outline: none;
}
.popup-buttons .reject {
  width: 40%;
  border: 3px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 1.4vw;
}

.popuptest{
  height: 300px;
  border: solid 2px red;
  width: 500px;

}
.recurring {
  border-top: solid 20px #37b674;
  background-color: white;
}

.emergency {
  border-top: solid 20px #f77676;
}

.close {
  float: right;
  height: 3vh;
}

.close:hover {
  cursor: pointer;
}

.modal-wrapper {
  display: block;
  margin-top: 0px;
}

.modal-header-flex{
  display: flex;
}

.primary-contact{
  width: 50%;
}

.modal-wrapper  h1, .modal-wrapper-contact h1{
  display: inline;
  font-size: 1.5vw;
}

.details-scroll h2{
  font-size: 1.1vw;
}

.modal-wrapper  .icon {
  position: relative;
  margin: 0px;
  width: 8%;
  height: auto;
}

#modal-step1{
  margin-left: 5%;
}

.modal-left-align{
  margin-left: 15%;
}

.popup-icon,
h1 {
  display: inline;
  vertical-align: middle;
}

.popup-icon {
  height: 3.5vh;
  padding-right: 10px;
  fill: #37b674;
}

.red {
  height: 3vh;
}

h1 {
  font-weight: 600;
  font-size: 2vw;
  margin-bottom: 10px;
  margin-top: 10px;
}

.pickup-details {
  margin-bottom: 20px;
}

.pickup-details h2 {
  font-size: 1.4vw;
}

.pickup-details p {
  margin: 0px;
  font-size: inherit;
}

h2 {
  font-weight: 600;
  margin-bottom: 0px;
  font-size: 1.7vw;
}

label {
  display: inline;
  font-size: 1.5vw;
}
.start-date {
  display: inline;
}

p.summary {
  font-weight: 400;
  margin: 0px;
  margin-bottom: 5px;
  font-size: 1.5vw;
}

.donating-recieving {
  color: #828282;
  margin: 0;
  font-size: 1rem;
}

.notification-buttons {
  margin: 0 auto;
  align-content: center;
  text-align: center;
  margin-top: 30px;
  float: right;
}

.notification-wrapper button {
  width: 4vw;
  height: 2.0vw;
  border-radius: 3px;
  font-weight: 600;
  font-size: .8vw;
}

.claim {
  background-color: #5dc0f9;
  border: none;
  color: white;
}

.reject {
  background: transparent;
  border: solid 2px #e0e0e0;
  color: #bdbdbd;
}

button:hover {
  cursor: pointer;
}

.map {
  display: inline-block;
  width: 50%;
}

map {
  display: inline-block;
  height: 190px;
  widows: 320px;
}

.notification-wrapper {
  float: right;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.12);
  padding: 15px 10px 10px;
  border: solid 1px #e1e1e1;
  margin-right: 5px;
  top: 90px;
  right: 0px;
  background-color: white;
  width: 100%;
}

.hover {
  font-size: .8vw;
  font-weight: 400;
}

.notification {
  display: inline;
  font-size: 1vw;
  padding: 0px;
  margin: 5px;
}

.warning {
  color: #f77676;
  font-size: 1.2vw;
  padding-bottom: 5px;
}

.to-from {
  font-weight: 600;
}

.right {
  padding-left: 10px;
}

.margin {
  margin-bottom: 15px;
}

.end {
  width: 40%;
  height: 30px;
  font-size: 1.5vw;
}

.weight {
  color: #f77676;
  font-weight: 600;
  margin-bottom: 10px;
}

h3 {
  font-weight: 400;
  margin-bottom: 5px;
}

.emergency-info {
  color: #828282;
  font-size: 1.5vw;
}

h2.emergency-info {
  font-size: 1.9vw;
  color: black;
  margin-bottom: 5px;
}

h3.emergency-info {
  margin-top: 0px;
  font-size: 1.7vw;
  color: black;
}

p.emergency-info {
  font-size: 1.4vw;
  color: black;
}

.time {
  font-size: 2vw;
  margin-top: 10px;
}

p.contact {
  color: #828282;
}

ol {
  width: 100%;
  list-style-position: outside;
  padding-left: 0px;
}

ol li {
  float: left;
  width: 50%;
}
.br {
  clear: left;
}

.food {
  list-style-type: none;
  color: #4f4f4f;
}

.summary {
  padding-top: 10px;
}

.notification-map{
  margin-bottom: 20px;
}

.modal-grid{
  position: relative;
}

#modal-cal{
  color: #545861;
  font-weight: 600;
  font-style: italic;
}

.modal-deliverers{
  display: flex;
}