{
  "extends": [
    "../.eslintrc",
    "plugin:cypress/recommended"
  ],
  "env": {
    "mocha": true,
    "cypress/globals": true
  },
  "plugins": [
    "cypress",
    "chai-friendly"
  ],
  "rules": {
    "indent": ["warn", 2],
    "no-console": 0,
    "no-unused-expressions": 0,
    "chai-friendly/no-unused-expressions": 2
  }
}