.page-title {
    font-family:'Open Sans';
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 30px;
    color: #4F4F4F;
    position: fixed;
    margin-left: 150px;
}

.page-container{
    border: 1px solid #DDDDDD;
    position: fixed;
    background-color: white;
    width: 100%;
    top: 0px;
}

.flex{
    display: flex;
}

.page-logo{
    padding: 10px 40px;
    position: relative; 
}

.flex img:last-child {
    margin-left: auto;
  }

.notification-icon{
    margin-right: 80px;
}

@media screen and (max-width: 540px) {
    .page-title {
        font-family:'Open Sans';
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 25px;
        color: #4F4F4F;
        position: fixed;
        margin-left: 150px;
        margin-right: 100px;
    }
}