.dialog-background-cover {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.event-container {
  padding: 10px;
  text-align: left;
  height: 48px;
}

.event-container:hover {
  cursor: pointer;
}

.event-container-future {
  background-color: rgba(46, 204, 113, 0.1);
  border-left: 3.8px solid #2ecc71;
}

.event-container-future-clicked {
  background-color: #2ecc71;
  border-left: 3.8px solid #2ecc71;
}

.event-container-past {
  background-color: #eef1f7;
  border-left: 3.8px solid #8c97b2;
}

.event-container-past-clicked {
  background-color: #8c97b2;
  border-left: 3.8px solid #8c97b2;
}

.eventcard-icon {
  vertical-align: middle;
  margin-left: 10px;
  display: inline-block;
}

.truck-icon {
  width: 28px;
}

.eventcard-plus-icon {
  width: 17px;
  margin-left: 18px;
}

.event-header {
  color: #4f4f4f;
  font-size: 12px;
  /* display: inline-block; */
}

.event-time {
  color: #4f4f4f;
  font-size: 12px;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 0px;
}

.multiple-events {
  margin-bottom: 3px;
  height: 26px;
  vertical-align: middle;
  line-height: 26px;
}

.multiple-events > .event-container {
  padding: 0;
  height: 100%;
}
.event-container .text{
    width: fit-content;
    margin-left: 5%;
    display: flex;
    align-items: center;
} 

.event-container-future-clicked > .text,
.event-container-future-clicked > .event-time,
.event-container-future-clicked > h1,
.event-container-past-clicked > .text,
.event-container-past-clicked > .event-time,
.event-container-past-clicked > h1 {
  color: white;
}
