.truck-icon-confirmation {
  width: 50px;
  display: inline-block;
  margin-left: 30px;
  vertical-align: middle;
}

.confirmation-content-wrapper {
  padding: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
}

.confirmation-header {
  margin-top: 30px;
  font-weight: 600;
  line-height: normal;
  font-size: 24px;
  margin: 50px;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-right: 0px;
  display: inline-block;
  width: 450px;
  color: #243847;
}

.cross-out-icon {
  float: right;
  width: 30px;
  margin-top: 40px;
  margin-right: 15px;
}

.cross-out-icon:hover {
  cursor: pointer;
}

.confirmation-modal {
  height: 390px;
  width: 610px;
}

.confirmation-time-p {
  margin: 0px;
  padding-top: 2px;
  font-size: 18px;
}

b {
  font-weight: 800;
  margin-right: 5px;
}

.confirm-to {
  display: inline;
}

.confirm-from {
  display: inline;
  margin-right: 30px;
}