.food-container{
    margin: 20px;
    margin-top: 100px;
}

.dropdown{
    margin: 0px 0px 20px 210px;
}

.filter{
    margin-left: 210px;
    padding-bottom: 30px;
    color: #4F4F4F;
    font-weight: 0px;
    position: fixed;
    background-color: white;
    width: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
.dropdown {
    display: inline;
}

span{
    color: #5DC0F9;
    font-size: 16px;
}
