.food-container{
    margin: 120px 5% 30px 50px;
}

.logs{
    margin-top: 200px;
}

.dropdown{
    margin: 40px 40px auto 0px;
}

.filter{
    margin-top: -102px;
    margin-left: 195px;
    padding-bottom: 30px;
    color: #4F4F4F;
    font-weight: 0px;
    position: fixed;
    background-color: white;
    width: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
.dropdown {
    display: inline; 
}

.nothing-found-propmt {
    margin-left: 200px;
    margin-top: 15%;
    text-align: center;
}

.food-log-margin {
    margin-left: 200px;
}

.food-log-nav-items li {
    list-style-type: none;
}

.food-log-nav-items li {
    display: inline;
    text-align: center;
    display: inline-block;
    width: 50%;
    padding: .75rem 0;
    margin: 0;
    text-decoration: none;
    color: #333;
    font-size: 20px;
    cursor: pointer;
}

.underline {
    height: .25rem;
    width: 50%;
    background: #5DC0F9;
    border: none;
    transition: .3s ease-in-out;
}

.two:hover ~ .underline, .section-active {
    margin-left: 50%;
}

.one:hover ~ .underline {
    margin: 0;
}

.add-delivery {
    border-style: none;
    color: #828282;
}

.add-delivery-container {
    display: flex;
    align-items: center;
    padding-top: 5px;
}

.add-delivery-warning {
    padding: 20px;
    font-family: "Open Sans", sans-serif;
}

.red-text {
    color: #F77676;
}

.warning-button {
    margin: 15px;
    font-size: 15pt;
    border-radius: 5px;
    padding: 6px;
    border-color:#828282;
}

.warning-button-group {
    display: flex;
    justify-content: center;
}

#manual-dialog {
    position: fixed;
    width: 80%;
    overflow-y: auto;
    top: 5%;
    padding: 30px;
}

.past-delivery-margin {
    margin-left: 0px;
}

.past-delivery-margin-p{
    margin-top: 0px;
    margin-bottom: 10px;
}

.dialog-radius {
    border-radius: 1%;
}

.small-dialog {
    height: 30vh;
}

.big-dialog {
    height: 80vh;
}

.form-component-past-delivery {
    width: 70%;
    margin-bottom: 10px;
    height: 25px;
    border: 2px solid #bdbdbd;
    font-size: 12px;
    background-color: white;
    padding: 5px;
    border-radius: 3px;
}

.form-title {
    width: 20%;
    padding-top:10px;
}

.d-flex {
    display: flex;
}

.past-delivery-inputs > h3 {
    margin-bottom: 15px;
}

.close-button-img {
    width: 18px;
    height: 18px;
    fill:#f77676;
    display: block;
}

.close-button {
	background: none;
	color: inherit;
    border: none;
}

.modal-header {
    justify-content: space-between;
}

.past-delivery-button-container {
    display: flex;
    justify-content: center;
}

.past-delivery-modal-button {
    display:block;
    border: 3px solid #E0E0E0;
    border-radius: 3px;
    font-size: 12pt;
    margin-left: 5px;
    margin-right: 5px;
}

.add-delivery-error {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px;
    background-color: #f77676;
    border-radius: 3px;
}
