.react-calendar {
    border: none;
    width: auto;
}

div.react-calendar__month-view__days > button {
    /* border: 1px black; */
    text-align: right;
    border: 1px #E5E5E5 solid;
    /* vertical-align: top; */
    /* display: inline-flex; */
    position:relative;
    align-items: flex-start;
    appearance: none;
}

.button-date-text {
    position: absolute;
    top: 10px;
    right: 10px;
}

.date-current-day {
    background-color: #5DC0F9;
    color: #FFFFFF;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
}

.circle {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    font-size: 50px;
    color: #fff;
    line-height: 500px;
    text-align: center;
    background: #000
  }

.react-calendar__navigation {
    background-color: #FAFAFA;
}

.react-calendar__navigation__label {
    font-size: 24px;
    font-family: 'Open Sans';
    font-weight: 200;
}

.react-calendar__month-view__days__day--neighboringMonth {
    background-color: #F5F5F5;
}

.react-calendar__month-view__days__day--weekend{
    color: #4f4f4f;
}

.react-calendar__tile {
    padding: 10px;
    width: 160px;
    height: 140px;
    border: 1px #4f4f4f solid;
}
