.mobile-delivery{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    line-height: normal;
}

.mobile-header{
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.mobile-agenda{
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans';
    font-size: 28px;
    color: #243847;
}

.mobile-header p{
    margin: 10px 20px;
    font-size: 18px; 
    color: #3E3F40;
    padding-bottom: 10px;
}

#mobile-header-pickup{
    color: #828282;
}

.mobile-card{
    width: 90%;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.12);
    border-radius: 3px;
    margin: 30px auto 10px auto;
}

.mobile-card p{
    margin-left: 20px;
}

#mobile-day{
    margin-right: 20px;
}

#mobile-time{
    font-size: 15px;
    font-family: 'Open Sans';
    font-size: 20px;
    color: #243847;
    margin-top: 0px;
    margin-bottom: 0px;
}

.mobile-time{
    display: flex;
}

#mobile-request{
    font-family: Open Sans;
    font-size: 20px;
    color: #828282;
    margin: 0px 20px 30px;
}

.mobile-content-header{
    font-family:'Open Sans';
    font-weight: 600;
    font-size: 18px;
    color: #243847;
    margin-bottom: 10px;
}

.mobile-card-line{
    background-color: #9DCC6F;
    height: 4px;
    width: 100%;
}

.mobile-deliverers, .mobile-to-from, .ms-content{
    display: flex;
    margin-bottom: 20px;
}

.mobile-student-info p{
    margin: 3px 40px auto 20px
}

.mobile-to-from p{
    margin: 3px 10px auto 20px
}

#mobile-da, #ms-notes{
    width: 60%;
}

#mobile-name, #ms-contact{
    font-family: 'Open Sans';
    font-size: 16px;
    color: #243847;     
}

#mobile-org, #ms-position{
    font-family: 'Open Sans';
    font-size: 14px;
    color:#828282;
}

#start-delivery-btn{
    height: 38.84px;
    background: #9DCC6F;
    border-radius: 4px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    text-align: center; 
    color: #FFFFFF;
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
    border-color: #9DCC6F;
    display: block;
}

.dot{
    height: 28px;
    width: 28px;
    background-color: #9DCC6F;
    border-radius: 50%;
    display: inline-block;
    margin-left: 20px;
}

a[href] {
    font-family: 'Open Sans';
    font-size: 14px;
    color: #5DC0F9;;
    text-decoration: none;
    margin-left: 20px;
    word-wrap: break-word;
}

/* MOBILE START */
.ms-header{
    font-weight: 600;
    font-size: 24px;
    color: #333333;
    margin: 10px auto 0px 20px;
}

#ms-highlight{
    color: #9DCC6F;
}
.ms-pickup-time{
    font-size: 14x;
    color: #333333;
    margin: 0px;
}

.ms-content-header{
    font-size: 18px;
    margin-bottom: 0px;
}

.ms-notes{
    font-size: 14px;
    color: #828282;
    margin: 0px 20px;
}

#ms-name, #ms-position {
    margin: 0px;
    margin-left: 20px;
    font-size: 14px;
    color: #828282;
}

.ms-input{
    color: #5DC0F9;
    background: url('../icons/fahrenheit.svg') no-repeat scroll right center;
    background-position: right auto;
    border: 3px solid #E0E0E0;
    border-radius: 3px;
    height: 25px;
    width: 80%;
    margin: 10px 20px;
    padding-left: 10px;
    outline: none;
}

.ms-signature{
    color: #5DC0F9;
    border: 3px solid #E0E0E0;
    border-radius: 3px;
    height: 25px;
    width: 80%;
    margin: 10px 20px;
    padding-left: 10px;
    outline: none;
}

.ms-input::placeholder, .ms-signature::placeholder, .ms-signature-delivery::placeholder, .ms-input-delivery::placeholder{
    color: #5DC0F9;
    font-weight: 100;
}

#ms-address{
    font-size: 3.5vw;
}

#ms-next-btn, #ms-confirm-btn{
    height: 38.84px;
    background: #9DCC6F;
    border: 2px solid #9DCC6F;
    box-sizing: border-box;
    border-radius: 3px;
    font-family: Open Sans;
    font-style: normal;
    font-size: 18px;
    text-align: center; 
    color: white;
    width: 20%;
    margin: 15px 20px 30px auto;
    display: block;
    float: right;
}

/* MOBILE DELIVERY */
.ms-signature-delivery{
    color: #5DC0F9;
    border: 3px solid #E0E0E0;
    border-radius: 3px;
    height: 50px;
    width: 80%;
    margin: 10px 20px;
    padding-left: 10px;
    outline: none;
}

.ms-input-delivery{
    color: #5DC0F9;
    background-position: right auto;
    border: 3px solid #E0E0E0;
    border-radius: 3px;
    height: 25px;
    width: 80%;
    margin: 10px 20px;
    padding-left: 10px;
    outline: none;
}

/* MOBILE CONFIRM */
.mobile-confirmation-container {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.mobile-confirm-card{
    width: 90%;
    min-height: 50vh;
    overflow: auto;
    background: #FFFFFF;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.12);
    border-radius: 3px;
    margin: 30px auto 10px auto;
}

.ms-food, .ms-confirm-agency, #confirm-time{
    font-size: 14px;
    color: #333333;
}

.ms-food span, .ms-confirm-details{
    font-size: 14px;
    color: #828282;
}
.ms-confirm div{
    margin-top: 20px;
}
.ms-confirm-content p, #confirm-time{
    margin: 3px 20px
}

.ms-confirm-header{
    font-weight: 600;
    line-height: normal;
    font-size: 18px;
    color: #243847;
}

