.container {
  font-family: 'Open Sans', sans-serif;
  padding: 12px;
  width: 75%;
}

.assign-volunteers-container {
  margin-top: 120px;
  margin-left: 250px;
}

.content-container {
  margin-left: 42px;
}

.date-container {
  font-size: 18px;
  font-weight: 600;
  margin: 22px 32px;
}

.form-container {
  margin-left: 32px;
  margin-right: 32px;
}

.location {
  font-weight: 300;
  font-size: 16px;
}

.ellipses {
  display: block;
  margin: 12px 0px 12px 4px;
  font-size: 4px;
  color: #c4c4c4;
}

#top {
  margin-bottom: 0px;
}

#bottom {
  margin-top: 0px;
}

.map-marker {
  font-size: 18px;
  color: #f77676;
}

.circle-marker {
  font-size: 12px;
  color: #85bf4b;
}

.spacing {
  padding: 4px;
}

.label-component {
  font-size: 14px;
  color: #243847;
}

.details {
  font-size: 11px;
  color: #828282;
  font-weight: inherit;
}

.form-parent {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
}

.form-child {
  flex-basis: 50%;
}

.form-child-button {
  flex-basis: 100%;
}

.form-input {
  box-sizing: border-box;
  width: 50%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.second-row {
  margin-top: 12px;
}

#info {
  font-weight: 400;
  font-size: 14px;
  color: #243847;
}

.form-buttons-container {
  box-sizing: border-box;
  margin-top: 28px;
}

.form-button {
  font-size: 16px;
  margin: 4px;
  /* color: #B2B2B2; */
  padding: 8px 18px 8px 18px;
  /* background-blend-mode: color; */
  /* background-color: none; */
  /* border: 1px solid #B2B2B2; */
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms ease;
}

.form-button.copy {
  background-color: #9dcc6f;
  color: white;
  width: 180px;
  border: 1px solid #9dcc6f;
}

.form-button.copy:hover {
  background-color: rgb(131, 170, 92);
}

.form-button.copied {
  background-color: rgba(46, 46, 46, 0.1);
  color: black;
  border: 1px solid rgba(46, 46, 46, 0.1);
}

.confirm-button {
  background-color: #5dc0f9;
  color: white;
  border: 1px solid #5dc0f9;
  width: 180px;
}

.confirm-button:hover {
  background-color: rgb(69, 145, 189);
}

.confirm-button-assign {
  background-color: #f77676;
  /* border-radius: 1px solid #F77676; */
  color: white;
  width: 180px;
  /* transition: background-color 250ms ease; */
}

.confirm-button-assign:hover {
  background-color: rgb(187, 87, 87);
}

.already-completed-button {
  color: gray;
}

.confirm-button-confirmation {
  width: 100px;
}
