.verify-accounts-wrapper {
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  width: 759px;
  margin: -173px auto 0px -50px;
  height: 62vh;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  padding: 40px 0px 40px 0px;
  overflow: hidden;
  position: absolute;
  background-color: white;
  padding: 70px;
}

.verify-header {
  color: #243847;
  font-size: 28px;
}
